.feedbackButton{
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #fff;
    cursor: pointer;
    transition: all 250ms linear;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding: 15px 15px;
    font-size: 20px;
}
.good-button:hover {
    background-color: #007404;
    cursor: pointer;
}

.neutral-button:hover {
    background-color: #ffcc80;
    cursor: pointer;
}

.bad-button:hover {
    background-color: #f32323;
    cursor: pointer;
}